/* resets */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  touch-action: manipulation;
}

[asscroll-container] {
  height: 100vh;
}

canvas {
  display: block;
  opacity: 1;
}

[data-barba-namespace] {
  /* position: absolute; */
  top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.inside {
  opacity: 0;
}

.logo > * {
  max-width: 65px;
  filter: url(#difference); /* Reference the filter by its ID */
}

svg {
  width: 100%;
}
