.header {
  font-weight: 900;
  color: #eee;
  position: fixed;
  left: 50px;
  top: 50px;
  font-size: 30px;
  z-index: 10;
  text-shadow: 0 2px 2px #00000060;
}
.header a {
  text-decoration: none;
  color: #eee;
}

/* item */
.item {
  font-family: 'Coustard', serif;
  text-decoration: none;
  color: #eee;
}
.item a {
  text-decoration: none;
  color: #eee;
}
.item h2 {
  font-weight: 900;
  color: #fff;
}
.item p {
  font-weight: 400;
  color: #ccc;
}
.item:last-child {
  margin-right: 300px;
}
.item img {
  width: 50vw;
  height: 50vw;

  opacity: 0;
}

@media screen and (min-width: 992px) {
  .content {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 100px;
    padding: 100px 0 0 100px;
  }

  .item img {
    width: 30vw;
    height: 30vw;
    opacity: 0;
  }
}
